<% layout('layouts/boilerplate') %>
    <section class="hero">
        <div class="hero-body has-text-centered">
            <p class="title">
                GTFS Mapping App
            </p>
            <p class="subtitle">
                Get the route information for all public transportation in Toronto. 
            </p>
        </div>
    </section>
    <form action="/search/" method="GET" class="mb-4">
        <div class="field has-addons">
            <input class="input" type="text" name="route" placeholder="Route Number">
            <div class="control">
                <button class="button">Search</button>
            </div>
        </div>
    </form>
    <ul class="tile is-ancestor is-vertical mb-4">
        <% for (let route of routes) { %>
            <li class="tile is-parent">
                <div class="tile is-2">
                    <%= route.route_short_name %>
                </div>
                <div class="tile is-9">
                    <%= route.route_long_name %>
                </div>
                <div class="tile">
                    <a href="/<%=route.route_id%>">Show</a>
                </div>
            </li>
        <% } %>
    </ul>
    <div class="pagination is-centered is-small" role="navigation" aria-label="pagination">
        <a class="pagination-previous" href="/?page=<%=page-1%>" <%=page===1 ? 'disabled' : '' %>>Previous</a>
        <a class="pagination-next" href="/?page=<%=page+1%>" <%=page===Math.ceil(length/count) ? 'disabled' : '' %>>Next
            page</a>
        <ul class="pagination-list">
            <% for (let i=1; i <=Math.ceil(length/count); i++) {%>
                <li>
                    <a href="/?page=<%=i%><%=count!== 10 ? `&count=${count}` : ''%>"
                        class="pagination-link <%=i==page ? 'is-current' : ''%>" aria-label="Goto page <%=i%>">
                        <%=i%>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>