<% layout('layouts/boilerplate') %>
    <ul>
        <% for (let route of routes) { %>
        <li class="box">
            <a href="/<%=route.route_id%>"><%= route.route_short_name %> / <%= route.route_long_name %></a>
        </li>
        <% } %>
    </ul>
    <div class="pagination is-centered is-rounded is-small" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            <% for (let i=1; i <=Math.ceil(length/count); i++) {%>
            <li>
                <a href="/?page=<%=i%><%=count!== 50 ? `&count=${count}` : ''%>" class="pagination-link <%=i==page ? 'is-current' : ''%>" aria-label="Goto page <%=i%>"><%=i%></a>
            </li>
            <% } %>
        </ul>
    </div>