<% layout('layouts/boilerplate') %>
    <h4>Route #<%=route.route_short_name%> - <%= route.route_long_name %></h4>
    <div id='map' style='width: 100%; height: 600px;'></div>
    <form action="/<%=route.route_id%>" method="GET">
        <select name="routeOption" id="routeOption">
            <% uniqueShapes.forEach(function(val, i) { %> 
            <option value="<%=i%>" <%=routeOption == i ? 'selected' : ''%>><%=i%></option>
            <% }) %> 
        </select>
        <button>Submit</button>
    </form>
    <form action="/<%=route.route_id%>" method="GET">
        <select name="direction" id="direction">
            <option value="0" <%=direction === 0 ? 'selected' : ''%>>Outbound</option>
            <option value="1" <%=direction == 1 ? 'selected' : ''%>>Inbound</option>
        </select>
        <button>Submit</button>
    </form>
    <a href="/">Back to Routes</a>
    <script>
        const coordinates = <%-JSON.stringify(coordinates)%>;
        const stops = <%-JSON.stringify(stops)%>;
        const accessToken = '<%-process.env.MAPBOX_TOKEN%>';   
    </script>
    <script src="/javascripts/pageMap.js"></script>